=h4 
  font: 
    family: "Neue Machina Regular"
    size: 40px;
  line-height: 1.05
  color: $text
  letter-spacing: -1%
  font-weight: 400

=text 
  font: 
    family: "FormularLight"
    size: 20px
  line-height: 1.4
  color: $text
  letter-spacing: -1%

=h5 
  font: 
    family: "Neue Machina Regular"
    size: 36px
  line-height: 1.05
  color: $text
  letter-spacing: -1%
  font-weight: 400

=small_text 
  font: 
    family: "FormularLight"
    size: 14px
  line-height: 1.21
  color: $text

=formular 
  font: 
    family: "FormularLight"
    size: 16px
  line-height: 1.14
  color: $text

=caption 
  font: 
    family: "FormularLight"
    size: 14px
  line-height: 1.21
  color: $text