//стили шрифтов

=h4 
  font: 
    family: $f_machina
    size: 40px;
  line-height: 1.05
  color: $text
  font-weight: 400

=text 
  font: 
    family: $f_formular
    size: 20px
  line-height: 1.4
  color: $text

=h5 
  font: 
    family: $f_machina
    size: 36px
  line-height: 1.05
  color: $text
  font-weight: 400

=small_text 
  font: 
    family: $f_formular
    size: 14px
  line-height: 1.21
  color: $text

=formular 
  font: 
    family: $f_formular
    size: 16px
  line-height: 1.14
  color: $text

=caption 
  font: 
    family: $f_formular
    size: 14px
  line-height: 1.21
  color: $text

// ширина экрана

$mobile: 768px
$desktop: 769px