$mainWhiteBg: #ECEBE8
$whiteBg: #E5E5E5
$greenBg: #B7C09D
$mainWhiteBg: #ECEBE8

// font-family
$f_machina: 'Neue Machina Regular', 'Arial', 'sans-serif'
$f_formular: 'Formular-light', 'Arial', 'sans-serif'
$fColor_black: #242424
$maxWidth: 1440px
