@import "../../SASS/main.sass"

.shows 
  display: flex
  flex-direction: column
  justify-content: center
  padding: 0
  background-color: $ligth-bg
  padding-bottom: 60px

  &__list 
    display: flex
    flex-direction: row
    align-items: center
  

  &__list_two-shows 
    justify-content: center
  

  &_one-show 
    display: flex
    flex-direction: row
    padding-top: 50px
  

