.section__name {
  font-family: "Neue Machina Regular";
  font-size: 40px;
  line-height: 1.05;
  color: #242424;
  letter-spacing: -1%;
  font-weight: 400;
  padding-left: 360px;
  margin-bottom: 45px;
  width: 450px;
}

.section_one-show {
  padding: 0;
}
