body {
  background-color: #ECEBE8;
}

.ol {
  outline: 1px red solid;
}

.header {
  max-width: 1440px;
  height: 61px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid #242424;
  margin: 0 auto;
  align-items: center;
}

.header__logo {
  width: 43px;
  height: 35px;
  margin: 15px auto 11px 30px;
}

.header__links {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  height: 61px;
  margin: 0;
}

.header__links_social {
  border-left: 1px solid #242424;
  border-right: 1px solid #242424;
  padding-left: 14px;
  padding-right: 16px;
  text-transform: lowercase;
}

.header__link-item {
  list-style: none;
  margin-right: 24px;
}

.header__link-item:last-of-type {
  margin-right: 29px;
}

.header__link-item_social {
  margin-right: 0;
}

.header__link-item_social:last-of-type {
  margin-right: 0;
}

.header__link {
  text-decoration: none;
  font-family: "Neue Machina Regular";
  font-weight: normal;
  font-size: 16px;
  line-height: 138%;
  color: #242424;
  display: flex;
  white-space: nowrap;
}

.header__link::before {
  display: block;
  box-sizing: border-box;
  width: 10px;
  height: 24px;
  visibility: hidden;
  border: 1px solid #242424;
  content: "";
  border-right: 0;
  border-bottom-left-radius: 200% 100%;
  border-top-left-radius: 200% 100%;
}

.header__link::after {
  display: block;
  box-sizing: border-box;
  width: 10px;
  height: 24px;
  visibility: hidden;
  border: 1px solid #242424;
  content: "";
  border-left: 0;
  border-bottom-right-radius: 200% 100%;
  border-top-right-radius: 200% 100%;
}

.header__link:hover::before, .header__link:hover::after {
  visibility: visible;
}

.header__link_donation {
  display: flex;
  align-items: center;
  margin-left: 7px;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.21;
}