@import '../vendor\fonts\Formular-light\formular-light.css';
@import '../vendor\fonts\NMR\NMR.css';
.videoSection {
		padding: 98px 0 145px 0;
		background-color: #E5E5E5;
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
}
.videoSection__title {
		margin: 0 auto 37px;
		font-family: "Neue Machina Regular";
		font-size: 40px;
		font-weight: 400;
		line-height: 40px;
}
.videoSection__title_small {
		margin-bottom: 45px;
}
.videoSection__link {
		margin: 0;
		padding: 0;
		text-decoration: none;
		position: relative;
		background-image: url("../../images/video.png");
		background-size: contain;
		background-position: center;
		width: 716px;
		height: 413px;
}
.videoSection__link:before {
		display: block;
		content: "";
		width: 100%;
		height: 100%;
		background: url("../../images/playButton.svg") center no-repeat;
}
.videoSection__link_small {
		width: 420px;
		height: 236px;
		margin-right: 59px;
}
.videoSection__link_small:nth-of-type(3) {
		margin-right: 0;
}
.videoSection__text-container {
		margin: 55px auto 98px;
		width: 716px;
		height: 392px;
}
.videoSection__text {
		margin: 0;
		padding: 0;
		font-family: "FormularLight";
		font-size: 20px;
		font-weight: 300;
		line-height: 28px;
}
.videoSection__link-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin: 0 auto 98px;
}