@import "../../SCSS/main.scss";

.section {

    &__name {
        @include h4;
        padding-left: 360px;
        margin-bottom: 45px;
        width: 450px;
    }

    &_one-show {
        padding: 0;
    }
}